SelectButton {
    -fx-focus-color: #b5b5b5;
    -fx-faint-focus-color: transparent;
}
FieldButton {
    -fx-background-color: transparent;
    -fx-border-color: brown;
}

OthelloBoard {
    -fx-background-image: url('/resources/boardImage.png');
    -fx-background-insets: none;
    -fx-background-size: cover;

}
/*
Main.primaryStage.getScene().getStylesheets().add("/resources/style.css");
*/