SelectButton {
    -fx-focus-color: linear-gradient(to bottom, #929292, #b4b4b4);
    -fx-faint-focus-color: transparent;
    -fx-min-width: 100;
    -fx-min-height: 30;
}
CheckBox {
    -fx-focus-color: linear-gradient(to bottom, #929292, #b4b4b4);
    -fx-faint-focus-color: transparent;
}
FieldButton {
    -fx-background-color: transparent;
}

#gameBtnHBox, #playerModeBtns {
    -fx-spacing: 40;
}

#OthelloBoard {
    -fx-background-image: url('/resources/boardImageOthello.png');
    -fx-background-size: cover;
}

#TicTacToeBoard {
    -fx-background-image: url('/resources/boardImageTTT.png');
    -fx-background-size: cover;
}

#rootPane {
    -fx-background-color: #1C590A;
}
#coordinates Label{
    -fx-text-fill: #EFEFEF;-fx-font-size: 20;-fx-font-family: Verdana;
}
#infoPanel {
    -fx-background-color: white;
}
#gameBoardPane Line {
    -fx-stroke   : saddlebrown;

}